@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@plugin '@tailwindcss/typography';

@import 'tw-animate-css';


@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1408 0.0044 285.8229);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1408 0.0044 285.8229);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1408 0.0044 285.8229);
    --primary: oklch(0.6008 0.2168 294.0262);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.9674 0.0013 286.3752);
    --secondary-foreground: oklch(0.2103 0.0059 285.8852);
    --muted: oklch(0.9674 0.0013 286.3752);
    --muted-foreground: oklch(0.5517 0.0138 285.9385);
    --accent: oklch(0.9674 0.0013 286.3752);
    --accent-foreground: oklch(0.2103 0.0059 285.8852);
    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9851 0 0);
    --border: oklch(0.9197 0.0040 286.3202);
    --input: oklch(0.9197 0.0040 286.3202);
    --ring: oklch(0.6008 0.2168 294.0262);
    --chart-1: oklch(0.5905 0.2227 269.7934);
    --chart-2: oklch(0.5833 0.2415 286.9489);
    --chart-3: oklch(0.6167 0.2232 289.5741);
    --chart-4: oklch(0.7707 0.1564 164.8596);
    --chart-5: oklch(0.7034 0.1924 12.4975);
    --sidebar: oklch(0.1882 0.0350 263.2325);
    --sidebar-foreground: oklch(0.9730 0.0070 268.5481);
    --sidebar-primary: oklch(0.5833 0.2415 286.9489);
    --sidebar-primary-foreground: oklch(0.9730 0.0070 268.5481);
    --sidebar-accent: oklch(0.2704 0.0563 266.9444);
    --sidebar-accent-foreground: oklch(0.9730 0.0070 268.5481);
    --sidebar-border: oklch(0.2704 0.0563 266.9444);
    --sidebar-ring: oklch(0.6167 0.2232 289.5741);
    --font-sans: "Mulish",ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.75rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0.1368 0.0333 262.1952);
    --foreground: oklch(0.9842 0.0034 247.8575);
    --card: oklch(0.1936 0.0261 283.6948);
    --card-foreground: oklch(0.9842 0.0034 247.8575);
    --popover: oklch(0.1936 0.0261 283.6948);
    --popover-foreground: oklch(0.9842 0.0034 247.8575);
    --primary: oklch(0.6008 0.2168 294.0262);
    --primary-foreground: oklch(0.9842 0.0034 247.8575);
    --secondary: oklch(0.2346 0.0586 296.4983);
    --secondary-foreground: oklch(0.9842 0.0034 247.8575);
    --muted: oklch(0.2465 0.0284 284.1269);
    --muted-foreground: oklch(0.6888 0.0394 285.3201);
    --accent: oklch(0.2405 0.0361 283.3505);
    --accent-foreground: oklch(0.9842 0.0034 247.8575);
    --destructive: oklch(0.6384 0.1995 15.1964);
    --destructive-foreground: oklch(0.9842 0.0034 247.8575);
    --border: oklch(0.2494 0.0376 283.3318);
    --input: oklch(0.2494 0.0376 283.3318);
    --ring: oklch(0.6008 0.2168 294.0262);
    --chart-1: oklch(0.6008 0.2168 294.0262);
    --chart-2: oklch(0.6091 0.1852 262.3514);
    --chart-3: oklch(0.6384 0.1995 15.1964);
    --chart-4: oklch(0.7173 0.1904 149.5623);
    --chart-5: oklch(0.6193 0.2029 312.7422);
    --sidebar: oklch(0.1936 0.0261 283.6948);
    --sidebar-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-primary: oklch(0.6008 0.2168 294.0262);
    --sidebar-primary-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-accent: oklch(0.2405 0.0361 283.3505);
    --sidebar-accent-foreground: oklch(0.9842 0.0034 247.8575);
    --sidebar-border: oklch(0.2494 0.0376 283.3318);
    --sidebar-ring: oklch(0.6008 0.2168 294.0262);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.75rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@utility container {
    @apply mx-auto max-w-[90%]
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .sidebar {
        @apply bg-sidebar text-sidebar-foreground max-w-xs w-full border-r flex-shrink-0 h-full overflow-y-auto;
    }

    .sidebar__menu--item {
        @apply flex items-center gap-2 px-5 py-5.5 rounded-lg hover:bg-sidebar-accent transition-all
    }

    .sidebar__menu--item--active {
        @apply bg-primary/20 hover:bg-primary/19;
    }
}